Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["ecordel-certs"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"
files:
  # Private key
  "/etc/pki/tls/certs/server.crt":
    mode: "000644"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://ecordel-certs.s3.sa-east-1.amazonaws.com/server.crt

  # Private key
  "/etc/pki/tls/certs/server.key":
    mode: "000644"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://ecordel-certs.s3.sa-east-1.amazonaws.com/server.key

container_commands:
  01restart_nginx:
    command: "service nginx restart"