Título: {{title}}
{{#description}}
Descrição: {{description}}
{{/description}}
{{#year}}
Publicado em: {{year}}
{{/year}}
Autor: {{author.name}}

Texto do cordel:
{{{content}}}

{{#source}}
Fonte: {{source}}
{{/source}}

Conteúdo baixado através do site ler.ecordel.com.br

E-cordel é um projeto de código aberto sem fins lucrativos criado no Cariri Cearense, 
com intuito de preservar a literatura de cordel e potencializar a sua divulgação através da internet.
Dessa forma, foi desenvolvida uma plataforma para registro e catalogação de cordéis digitais que pode ser acessada gratuitamente.
Esta obra é também disponibilizada como um ebook para garantir que pessoas com necessidades especiais possam desfrutar da literatura de cordel.
